*{margin: 0;padding: 0;list-style: none;border: none;outline: none;box-sizing: border-box;}
@font-face {font-family:cooperLightBT ;src: url(/fonts/CooperLightBT.ttf);}
@font-face {font-family:newsCycle;src: url(/fonts/Timeless.ttf);}
@font-face {font-family:send;src: url(/fonts/send.ttf);}
/* euro = alt 0128 */
/* -------------------------------------------------------HEADER ASIDE------------------------------------------------------  */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: cooperLightBT;
    font-weight: 100;
    margin: 35px 0 10px 0;

}
.figure{
    display: flex;
    align-items: flex-start;
    flex-direction:column ;
    margin: 5% 0 2% 0;
    font-size: 3mm;
    width: 50%;
}
figcaption{
    font-size: 3mm;
    font-family: send;
    color: rgb(135, 135, 135);
}
.figure img{
    width: 80%;
}
.productos__celularTableb{
    display: none;
}

.header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
    .header__logo{
        font-size: 7mm;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        color: black;
    }
.nav{
    height:3.5vh;
    width: 100%;
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 0px;
    z-index: 1;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    transition: .1s;
}
span{
    color: rgb(255, 255, 255);
}
.navAnimacion{
    background-position: bottom;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px;
}
    .nav__ul{
        margin: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            .nav__li--a{
                color: black;
                font-size: 15px;
                font-family: send;
                text-decoration: none;
                white-space: nowrap;
                
            }
            .nav__li--a:hover{
                color: coral    ;
                text-decoration:underline;
            }

.cabeceraPublicidad{
    padding: 20px 0 20px 0px;
    margin-left: auto;
    margin-right: auto;
}
.cabeceraPublicidad__celular{
    display: none;
}
.section{
    width: 1100px;
}
    .section__header{
        display: flex;
        border-top: 3px solid rgb(0, 0, 0) ;
        border-bottom: 1px solid rgb(146, 146, 146);
    }
        .header--div1{
            width: 70%;
        }
            .header__div1--fecha{
                margin:10px 0px 19px ;
            }   
                .header__div1--fecha time{
                    font-size: 3.5mm;
                    font-family: send;
                }
            .header__div1--h1{
                font-size: 10mm;
                font-family: cooperLightBT ;
                font-weight:100;
                margin-bottom: 20px;
            }   
        .header--div2{
            width: 30%;
            padding: 0 0 0 40px;
            margin: 25px 0 25px 0px;
            border-left: 1px solid rgb(146, 146, 146);
        }
            .header__div2--titulo{
                font-family: cooperLightBT ;
                font-size: 22px;
            }
            .header__div2--titulo::after{
                    content: '';
                    background-color: lightsalmon;
                    display: block;
                    margin-top: 7px;
                    width: 100px;
                    height: 2px;
            }
            .header__div2--p{
                font-family: send;
                font-size:3.3mm;
                font-style:italic;
                margin-top: 10px;
            }
                .header__div2--p--a{
                    color: rgb(0, 0, 0);
                    
                }
                .header__div2--p--a:hover{
                    color: rgb(255, 166, 0);
                }
    .section__contenidoIzquierdo{
        float: left;
        width: 70%;
        padding: 3% 5% 0 0;
    }

    
    .producto__publicidadAmazonMusic{
        display: none;
    }
        .imagenPrincipal{
            width: 100%;
        }
        
        .contenidoIzquierdo__article{
            width: 85%;
            margin: 5% 0 0 15%;
        }
            .contenidoIzquierdo__article--p{
                font-size: 4.5mm;
                font-family:Georgia, 'Times New Roman', Times, serif;
                line-height: 30px;
            }          
            .contenidoIzquierdo__article--a{
                color: rgb(0, 0, 0);
            }     
                
        .contenidoIzquierdo__article--p--decripcionDePagina{
            font-family:cooperLightBT ;
            margin: 10% ;
            font-style: italic;
            font-size: 4mm;
            line-height: 29px;
        }
        .contenidoIzquierdo__article--p--decripcionDePagina::before{
            content: '';
            background-color: lightsalmon;
            display: block;
            margin-bottom: 7px;
            width: 150px;
            height: 3px;
        }
        .article__p--decripcionDePagina--a{
            color: rgb(0, 0, 0);
        }
            .article__p--decripcionDePagina--a:hover{
                color: lightsalmon;
            }
    .section__contenidoDerecho{
        width: 30%;
        float: left;
        padding: 4% 0% 0% 3.5%;
    }  





    .contenidoDerecho__stiky1--contenedor{
        height: 1000px;
    }




    .ContenidoDerecho__categoriaRelacionada{
        height: 270px;
        border: solid rgb(162, 162, 162) 1px;
        margin-top: 18px;
        position: sticky;
        top: 35px;
    }

        .categoriaRelacionada__tePuedeInteresar{
            position: absolute;
            padding: 2px 5px 2px 5px;
            font-family:cooperLightBT ;
            background-color:rgb(255, 146, 107);
            margin: 5px;
            font-size: 4mm;
        }
        .ContenidoDerecho__categoriaRelacionada a{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-decoration: none;
        }
        .ContenidoDerecho__categoriaRelacionada a:hover {
            text-decoration: underline coral 1.5px;
        }

            .tiposDeTocadicos__div__img{
                height: 80%;
                
                background-position:center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0px;
                background-image: url(https://m.media-amazon.com/images/I/81c8cM9FZhL._SL1500_.jpg);
            }
            .tiposDeTocadicos__div__divH3{
                height: 20%;
                font-family:cooperLightBT ;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(140, 140, 140) 33%, rgba(255,255,255,0) 0%);
                background-position: top;
                background-size: 4px 1px;
                background-repeat: repeat-x;
            }
                .tiposDeTocadicos__div__divH3 h3{
                    font-weight:normal;
                    color: black;
                    font-size: 6mm;
                }





        .publicidadAmazonMusicComputadora{
            display: flex;
            position: sticky;
            top: 35px;
            flex-direction: column;
            align-items: center;
            margin: 60px 0 40px 0;
        }
            .publicidadAmazonMusicComputadora__iframe{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            .publicidadAmazonMusicComputadora__texto{
                width: 60%;
                text-align: center;
                font-family:cooperLightBT ;
                padding: 1.5%;
                text-align: center;
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 4px 4px rgb(0, 0, 0);
                margin-bottom: 40px;
            }
                .publicidadAmazonMusicComputadora a p{
                    font-size: 4mm;
                    color: #000;
                }
                .publicidadAmazonMusicComputadora a{
                    text-decoration:none;
                }



                

        .contenidoDerecho__producto{
            /* background-color: aqua; */
            width: 100%;
            padding: 15px 0 0 0 ;
            display: flex;
            position: sticky;
            top: 35px;
        }
            .producto__producto{
                /* background-color: rgb(220, 51, 250); */
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }
                .producto__producto a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                }
                .producto__producto a:hover{
                    text-decoration:underline coral 1.5px;
                }
                .producto__producto a div{
                    width: 75px;
                    height: 20px;
                    margin-bottom: 5px;
                    font-family:cooperLightBT ;
                    font-size: 3.5mm;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: 2px 2px rgb(0, 0, 0);
                    transition: .2s;
                }
                .producto__producto a div:hover{
                    box-shadow: 4px 4px rgb(0, 0, 0);
                }
                    .producto__producto img{
                        width: 84%;
                        
                    }
                    .producto__producto p{
                        text-align: center;
                        font-size: 3.5mm;
                        margin-bottom:7% ;
                        color: rgb(0, 0, 0);
                        font-family:cooperLightBT ;
                    }
            .producto__verTodosLosProductosSimilares{
                width: 35%;
                height: 85px;
                font-family:cooperLightBT ;
                font-size: 3.9mm;
                margin: 40px 0 0 15px;
                text-align: center;
                padding: 5px;
                color: rgb(0, 0, 0);
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 3px 3px rgb(0, 0, 0);
                text-decoration: none;
                transition: .2s;
            }
            .producto__verTodosLosProductosSimilares:hover{
                box-shadow: 5px 5px rgb(0, 0, 0);
            }
                .producto__verTodosLosProductosSimilares h4{
                    font-weight: 100;
                }








                
        .contenidoDerecho__articulosPopulares{
            font-family:cooperLightBT ;
            margin-bottom: 20px;
            font-size: 6.5mm;
            font-weight: 500;
            margin: 40px 0 40px 0;
        }
        .articulosPopulares__li--a{
            text-decoration: none;
            font-family: cooperLightBT;
            display: block;
            font-size: 4.5mm;
            margin: 10px 0 10px 0;
            color: rgb(0, 0, 0);
        }
        .articulosPopulares__li--a:hover{
            text-decoration: underline;
        }










.pieDePagina__historiasRelacionadas{
    border-top: 1px solid rgb(0, 0, 0);
    width: 1100px;
    }
    .pieDePagina__historiasRelacionadas--h3{
        font-family: cooperLightBT;
        margin: 20px 0 0 20px ;
        font-weight:700;
        font-size: 5.6mm;
    }
    .pieDePagina__historiasRelacionadas--div{
        width: 96%;
        padding: 50px 0 50px 0;
        border-bottom: .1px solid rgb(177, 177, 177);
        display: flex;
        padding-left: 1%;
    }
    .historiasRelacionadas__texto{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
        .historiasRelacionas__texto--textito{
            font-family: send;
            font-size: 3.5mm;
        }
        .historiasRelacionadas__texto--a{
            text-decoration:none;
            font-family: cooperLightBT;
            font-size: 9mm;
            color: rgb(0, 0, 0);
        }
        .historiasRelacionadas__texto--a:hover{
            text-decoration:underline coral;
        }
    .historiasRelacionadas__divImg{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .historiasRelacionadas__divImg--img{
            width: 80%;
        }
    .footer{
        width: 1100px;
    }
    .headerFooter{
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    } 
    .navFooter{
        height:3.5vh;
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
    .nav__ulFooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .footer__Copyright{
        margin: 20px 0 20px 0;
        text-align: center;
        font-family: send;
        font-size: 3mm;
    } 
    /* -------------------------------------------------------RESPONSIVE 1200px ------------------------------------------------------  */
    @media (max-width:1200px) {
body{
    align-items: flex-start;
}
.header{
    height: 60px;
    /* transition: .1s; */
}
figcaption{
    font-size: 4mm;
}

.nav{
    width: 100%;
    height: 35px;
}
    .nav__li--a{
        font-size: 4.9mm;
    }

.section{
    width: 86%;
    margin-left: 7%;
}
        .header--div1{
            width: 100%;
        } 
                .header__div1--fecha time{
                    font-size: 4.5mm;
                }  
        .header--div2{
            display: none;
        }
    .section__contenidoIzquierdo{
        width: 600px;
        padding: 3% 0% 0 0%;
    }

    
        .puntosDeSeparacionProductosCelularTableb{
            width: 100%;
            height: 30px;
            background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
            margin-bottom: 10px;
        }
        .productos__celularTableb{
            width: 100%;
            display: flex;
            background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
        }
        .producto__producto{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
        }

            .producto__producto a ,.producto__publicidadAmazonMusic a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .producto__producto a:hover{
                text-decoration: underline coral 3px;
            }
                .producto__producto img{
                    width: 60%;
                }
                .producto__producto p{
                    font-size: 4.3mm;
                }
                .producto__producto  h3{
                    font-weight: normal;
                }
                .producto__producto a div {
                    font-size: 5mm;
                    width: 90px;
                    height: 29px;
                }
        .producto__verTodosLosProductosSimilares{
            width: 40%;
            height: 80px;
            text-align: center;
            font-family:cooperLightBT ;
            font-size: 4mm;
            margin: auto 10px auto auto;
            text-align: center;
            color: rgb(0, 0, 0);
            text-decoration: none;
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 3px 3px rgb(0, 0, 0);
        }
        .producto__verTodosLosProductosSimilares h3{
            font-weight: 100;
        }
        .producto__verTodosLosProductosSimilares:hover{
            text-decoration: underline coral 1.5px;
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 4px 4px rgb(0, 0, 0);
        }
        .producto__publicidadAmazonMusic{
            display:unset;
            display: flex;
            margin: 20px 0 20px 0;
        }
            .publicidadAmazonMusic__iframe{
                width: 40%;
            }
            .publicidadAmazonMusic__texto{
                width: 60%;
                display: flex;
                align-items: center;
            }
            .publicidadAmazonMusic__texto p{
                font-size:5mm ;
                text-align: center;
                height:100%;
                font-family:cooperLightBT ;
                text-align: center;
                color: rgb(0, 0, 0);
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 3px 3px rgb(0, 0, 0);
            }
            .publicidadAmazonMusic__texto a{
                text-decoration: none;
            }

        .contenidoIzquierdo__article{
            margin: 5% 0 0 15%;
        }
        .contenidoIzquierdo__article--p{
            font-size:4.7mm;
        }
                .contenidoIzquierdo__article--p--DivImg{
                    font-size: 4.5mm;
                } 
    .section__contenidoDerecho{
        display: none;
    }   
.pieDePagina__historiasRelacionadas{
    width: 90%;
    margin-left: 5%;
}
.pieDePagina__historiasRelacionadas--div{

    padding: 60px 0 60px 0;
}
    .historiasRelacionadas__texto--a{
        font-size: 8.5mm;
    }
    .historiasRelacionas__texto--textito{
        font-size: 4.5mm;
        color: rgb(135, 135, 135);
    }
    .footer{
        width: 90%;
        margin-left: 5%;
    }
}
/* -------------------------------------------------------RESPONSIVE 764px ------------------------------------------------------  */
@media(max-width:764px){
    h2{
        font-size: 7mm;
    }
    .figure{
        width: 70%;
    }
    figcaption{
        font-size: 3.4mm;
        font-family: send;
    }
.header{
    width: 100%;
    height: 7vh;
}
.nav{
    width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
    position:sticky;
    display: flex;
    height: 38px;
}
span{
    color: #000;
    margin-left: 10px;
}
    .nav__li{
        margin: 0 15px 0 15px ;
    }
        .nav__li--a{
            font-size: 4.3mm;
        }

.cabeceraPublicidad{
    display: none;
}
.cabeceraPublicidad__celular{
    display: unset;
    margin: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.section{
    width: 88%;
    margin-left: 6%;
} 

                .header__div1--fecha time{
                    font-size: 3.2mm;
                }
            .header__div1--h1{
                font-size: 7.5mm;
            }   
        .header--div2{
            display: none;
        }
    .section__contenidoIzquierdo{
        width: 100%;
    }
        .productoEliminadoEnMovil{
            /* display: none; */
        }
        /* .producto__verTodosLosProductosSimilares{
            width: 70%;
            height: 78px;
        } */
        .producto__producto{
            padding: 15px 15px 15px 0;
        }
        .publicidadAmazonMusic__texto p{
            font-size:5mm ;
        }
        .contenidoIzquierdo__article{
            width: 100%;
            margin: 5% 0 0 0%;
        }
            .contenidoIzquierdo__article--p{
                font-size: 4.5mm;
            }
                .contenidoIzquierdo__article--p--decripcionDePagina{
                    font-size: 4.5mm;
                } 
.pieDePagina__historiasRelacionadas{
    width: 90%;
    margin-left: 5%;
}
    .pieDePagina__historiasRelacionadas--h3{
        font-size: 4.5mm;
    }
    .pieDePagina__historiasRelacionadas--div{
        padding: 25px 0 25px 0;
    }
        .historiasRelacionadas__texto{
            width: 50%;
        }
            .historiasRelacionas__texto--textito{
                display: none;
            }
            .historiasRelacionadas__texto--a{
                font-size: 4.5mm;
            }
            .historiasRelacionadas__divImg{
                width: 50%;
            }

    .headerFooter{  
        height: 8vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .navFooter{
        height:25vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
    .nav__ulFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__liFooter{
        margin-top: 10px;
    }
}