*{margin: 0;padding: 0;list-style: none;border: none;outline: none;box-sizing: border-box;}
@font-face {font-family:cooperLightBT ;src: url(/fonts/CooperLightBT.ttf);}
@font-face {font-family:send;src: url(/fonts/send.ttf);}
/* -------------------------------------------------------HEADER ASIDE------------------------------------------------------  */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: cooperLightBT;
    font-weight: 100;
    margin: 35px 0 10px 0;
}
.cabeceraPublicidad{
    margin: 40px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
}
.cabeceraPublicidad__celular{
    display: none;
}
.productos__celularTableb{
    display: none;
}
.header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
    .header__logo{
        font-size: 7mm;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        color: black;
    }
.nav{
    height:3.5vh;
    width: 100%;
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 0px;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    transition: .1s;
}   
span{
    color: rgb(255, 255, 255);
}
.navAnimacion{
    background-position: bottom;
}
    .nav__ul{
        margin: 3px;    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            .nav__li--a{
                color: black;
                font-size: 15px;
                font-family: send;
                text-decoration: none;
                white-space: nowrap;
                
            }
            .nav__li--a:hover{
                color: rgb(255, 166, 0);
                text-decoration:underline;
            }
.section{
    width: 1100px;
}
    .section__contenidoIzquierdo{
        float: left;
        width: 70%;
        padding: 3% 0% 0 0;
    }
        .contenidoIzquierdo__articulosPopulares{
            height: 65vh;
            width: 100%;
            display: grid;
            margin-bottom: 4vh;
            grid-template-columns: 30% 30% 39%;
            grid-template-rows: 50% 50%;
        }
        .contenidoIzquierdo__articulosPopulares div{
            margin:5px ;
        }
        .articulosPopulares__articulo1{
            grid-row: 1/3;
            grid-column: 1/3;
            background: url(historiaDelTocadisco.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            background-position: center center;
        }
            .articulo1__titulo1{
                color: rgb(255, 255, 255);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 7.5mm;
                margin: 0 0 6% 3%;
                background-color: rgba(0, 0, 0, 0.381);
            }
            .articulo1__BLOG1{
                padding: 0 5px 0 5px;
                width: 58px;
                color: rgb(255, 255, 255);
                font-family: cooperLightBT;
                font-size: 4.5mm;
                margin: 3% 0 0 3%;
                background-color: rgb(255, 166, 50);
            }


        .articulosPopulares__articulo2{
            /* margin: 4%; */
            background: url(inventorDelCasete.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            
        }

                .articulo2__titulo2{
                    color: rgb(255, 255, 255);
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 6.5mm;
                    margin: 0 0 6% 3%;
                    background-color: rgba(0, 0, 0, 0.381);
                }
                .articulo2__BLOG2{
                    padding: 0 5px 0 5px;
                    width: 53px;
                    color: rgb(255, 255, 255);
                    font-family: cooperLightBT;
                    font-size: 4mm;
                    margin: 3% 0 0 3%;
                    background-color: rgb(255, 166, 50);
                }

        .articulosPopulares__articulo3 {
            background: url(comoFuncionaUnTocadisco.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
                .articulo3__titulo3{
                    color: rgb(255, 255, 255);
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 6.5mm;
                    margin: 0 0 6% 3%;
                    background-color: rgba(0, 0, 0, 0.381);
                }
                .articulo3__BLOG3{
                    padding: 0 5px 0 5px;
                    width: 53px;
                    color: rgb(255, 255, 255);
                    font-family: cooperLightBT;
                    font-size: 4mm;
                    margin: 3% 0 0 3%;
                    background-color: rgb(255, 166, 50);
                }
        
        .articulo__a{
            display: block;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-decoration: none;
            transition: .5s;
        }
        .articulo__a:hover{
            padding-bottom: 8%;
            background-color: rgba(0, 0, 0, 0.197);
        }




        .ultimasEntradas{
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
            background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
            background-position: top;
            background-size: 4px 1px;
            background-repeat: repeat-x;
        }
            .ultimasEntradas__time{
                width:10%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 5.5mm;
                font-family: send;
                color: #000;
            }
            .ultimasEntradas__texto{
                width: 90%;   
                display: flex;
                align-items: center;
                padding: 12px;
                border-left:dotted coral 1px;
            }
                .ultimasEntradas__texto a{
                    text-decoration: none;
                    color: black;
                    font-size: 7mm;
                    font-family:cooperLightBT;
                }
                .ultimasEntradas__texto a:hover{
                    text-decoration: underline coral 2px;
                }


        .tocadiscos , .caseteras{
            width: 100%;
        }
            .tocadiscos h2, .caseteras h2{
                display: flex;
                justify-content: center;
                font-size: 9mm;
            }
        .contenido1{
            
            height:700px;
            display: grid;
            margin-bottom: 0vh;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
        }
                .contenido1 div{
                    margin: 50px;
                    display: flex;
                    flex-direction: column;
                }
                .contenido1 div img{
                    margin-bottom: 30px;
                    
                }
                .contenido1 div a p{
                    font-size: 4.2mm;
                }
                .recortarImagen{
                    width: 60%;
                    margin-left: 17%;
                }


                .contenidoIzquierdo__article--p--decripcionDePagina{
                    font-family:cooperLightBT ;
                    margin: 10% ;
                    font-style: italic;
                    font-size: 4mm;
                    line-height: 29px;
                }
                .contenidoIzquierdo__article--p--decripcionDePagina::before{
                    content: '';
                    background-color: lightsalmon;
                    display: block;
                    margin-bottom: 7px;
                    width: 150px;
                    height: 3px;
                }
                .article__p--decripcionDePagina--a{
                    color: rgb(0, 0, 0);
                }
                    .article__p--decripcionDePagina--a:hover{
                        color: lightsalmon;
                    }
            
    .section__contenidoDerecho{
        width: 30%;
        float: left;
        padding: 1.5% 0% 0% 3.5%;
    }   
    .contenidoDerecho__producto{
        width: 100%;
        padding: 15px 0 20px 0 ;
        display: flex;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
        .producto__producto{
            width: 50%;
            display: flex;
            flex-direction: column;
        }
            .producto__producto a,.contenido1 div a{
                text-decoration:underline coral 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .producto__producto a div ,.contenido1 div a div{
                width: 90px;
                height: 20px;
                margin: 10px 0 5px 0;
                font-family:cooperLightBT ;
                font-size: 3.5mm;
                text-align: center;
                color: rgb(0, 0, 0);
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 2px 2px rgb(0, 0, 0);
            }
                .producto__producto img {
                    width: 84%;
                }
                .producto__producto p,.contenido1 div p{
                    text-align: center;
                    font-size: 3.5mm;
                    /* margin-bottom:7% ; */
                    color: rgb(0, 0, 0);
                    font-family:cooperLightBT ;
                }
        /* .producto__verTodosLosProductosSimilares{
            width: 50%;
            height: 37px;
            font-family:cooperLightBT ;
            font-size: 3.2mm;
            margin-top: 40px;
            text-align: center;
            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 3px 3px rgb(0, 0, 0);
            text-decoration: none;
        } */


        
    .contenidoDerecho__articulosPopulares{
        font-family:cooperLightBT ;
        margin-bottom: 20px;
        font-size: 6.5mm;
        font-weight: 500;
        margin: 40px 0 40px 0;
    }
    .articulosPopulares__li--a{
        text-decoration: none;
        font-family: cooperLightBT;
        display: block;
        font-size: 4.5mm;
        margin: 10px 0 10px 0;
        color: rgb(0, 0, 0);
    }
    .articulosPopulares__li--a:hover{
        text-decoration: underline;
    }


.footer{
    width: 1100px;
}
    .headerFooter{
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    .navFooter{
        height:3.5vh;
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
    .nav__ulFooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .footer__Copyright{
        margin: 20px 0 20px 0;
        text-align: center;
        font-family: send;
        font-size: 3mm;
    }
    /* -------------------------------------------------------RESPONSIVE 1200px ------------------------------------------------------  */
    @media (max-width:1200px) {
body{
    align-items: flex-start;
}
.header{
    height: 60px;
}
.nav{
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0px;
    transition: .1s;
    padding-bottom: 5px;
}
span{
    color: rgb(255, 255, 255);
}
.navAnimacion{
    background-position: bottom;
}
    .nav__ul{
        display: flex;
    }
    .nav__li--a{
        font-size: 4.1mm;
    }
.cabeceraPublicidad{
    padding: 0px 20px 20px 0px;
    margin-left: auto;
    margin-right: auto;
}
    
.section{
    width: 90%;
    margin:0px 0 0 5%;
    display: flex;
    flex-direction: column;
}

    .section__contenidoIzquierdo{
        width:100%;
        padding: 5% 0% 0 0%;
        float:none;
    }
    .tocadiscos, .caseteras{
        padding-top:5px;
        /* background-color: antiquewhite; */
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-position: top ;
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }

    .productos__celularTableb{
        width: 100%;
        height: 250px;
        margin: 40px 0 5vh 0;
        padding-top: 20px;
        display: flex;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
        .producto__producto , .producto__publicidadAmazonMusic{
            width: 26%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-right: 30px;
        }
            .producto__producto a, .producto__publicidadAmazonMusic a{
                text-decoration:underline coral 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .producto__producto img{
                    width: 80%;
                    margin-left: 8%;
                }
                .producto__producto p ,.producto__publicidadAmazonMusic p{
                    text-align: center;
                    font-size: 4.3mm;
                    margin-bottom:7% ;
                    color: rgb(0, 0, 0);
                    font-family:cooperLightBT ;
                }
                .producto__producto div , .producto__publicidadAmazonMusic div{
                    width: 70px;
                    height: 20px;
                    font-family:cooperLightBT ;
                    font-size: 3.5mm;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: 2px 2px rgb(0, 0, 0);
                }

        .producto__verTodosLosProductosSimilares{
            width: 70%;
            height: 65px;
            font-family:cooperLightBT ;
            font-size: 4mm;
            margin-top: 40px;
            text-align: center;
            color: rgb(0, 0, 0);
            text-decoration: underline coral;
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 3px 3px rgb(0, 0, 0);
        }

            .contenidoIzquierdo__articulosPopulares{
                height: 500px;
            }
            .contenidoIzquierdo__articulosPopulares div{
                margin:6px ;
            }




                .ultimasEntradas__time{
                    width:20%;
                }
                .ultimasEntradas__texto{
                    width: 80%;   
                }










    .section__contenidoDerecho{
        display: none;
    }   
    .espacioAside{
        width: 90%;
        margin-left: 5%;
        margin-top: 11vh;
    }
    .footer{
        width: 90%;
        margin-left: 5%;
    }
}
/* -------------------------------------------------------RESPONSIVE 764px ------------------------------------------------------  */
@media(max-width:764px){
    .header{
        width: 100%;
        height: 7vh;
        top: 0px;
        transition: .1s;
    }
    .nav{
        width: 100%;
        height: 40px;
        overflow-x:scroll;
        overflow-y:hidden;
        position:sticky;
        display: flex;
        transition: .1s;
    }
    span{
        color: rgb(0, 0, 0);
        margin-left: 10px;
    }
        .nav__li{
            margin: 0 15px 0 5px ;
            display: flex;
        }
            .nav__li--a{
                font-size: 4.6mm;
            }
    .cabeceraPublicidad{
        display: none;
    }
    .cabeceraPublicidad__celular{
        display: unset;
        margin: 20px 0 0px 0;
        margin-left: auto;
        margin-right: auto;
    }
.section{
    width: 96%;
    margin-left: 2%;
} 

    .section__contenidoIzquierdo{
        width: 100%;
    }
    .contenidoIzquierdo__articulosPopulares{
        height: 300px;
    }
    .contenidoIzquierdo__articulosPopulares div{
        margin:6px ;
    }
        .articulo1__titulo1{
            font-size: 5mm;
        }
        .articulo1__BLOG1{
            width: 48px;
            font-size: 3.5mm;
            background-color: rgb(255, 166, 50);
        }
        .articulo2__titulo2{
            font-size: 3.5mm;
        }
        .articulo2__BLOG2 {
            width: 43px;
            font-size: 3mm;
            background-color: rgb(255, 166, 50);
        }
        .articulo3__titulo3{
            font-size: 3.5mm;
        }
        .articulo3__BLOG3{
            width: 43px;
            font-size: 3mm;
            background-color: rgb(255, 166, 50);
        }
        .contenido1 div a p{
            font-size: 3.7mm;
        }
        .producto__producto{
            margin-right: 25px;
        }
        .productoEliminadoEnMovil{
            display: none;
            
        }
        .producto__publicidadAmazonMusic{
            padding: 0 10px 0 0;
            width: 63%;
        }





            .ultimasEntradas__time{
                width:25%;
            }
            .ultimasEntradas__texto{
                width: 75%;   
            }
                .ultimasEntradas__texto a{
                    font-size: 5mm;
                }




        .tocadiscos , .caseteras{
            width: 100%;
        }
            .tocadiscos h2, .caseteras h2{
                display: flex;
                justify-content: center;
                font-size: 9mm;
            }
        .contenido1{
            margin-top: 5vh;
            height:900px;
            display: grid;
            grid-template-columns:50% 50% ;
            grid-template-rows: 33% 33% 33%;
            /* background-color: antiquewhite; */
        }
                .contenido1 div{
                    margin: 30px;
                    display: flex;
                    flex-direction: column;
                    /* background-color: aqua; */
                    /* margin-top: 100px; */
                }
                .contenido1 div img{
                    margin-bottom: 30px;
                    
                }
                .recortarImagen{
                    width: 60%;
                    margin-left: 17%;
                }



    .section__contenidoDerecho{
        display: none;
    }   

    .espacioAside{
        width: 98%;
        margin-left: 1%;
        margin-top: 12vh;
    }
    .headerFooter{
        width: 90%;
        width: 100%;
    }
    .navFooter{
        height:25vh;
        width: 100%;
        flex-direction: column;
    }
    .nav__ulFooter{
        flex-direction: column;
    }
    
}
